<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<bean id="jarVersionDetector" name="jarVersionDetector"
		class="rmblworx.tools.timey.JarVersionDetector" scope="singleton">
	</bean>

	<bean id="timeyEventDispatcher" name="timeyEventDispatcher"
		class="rmblworx.tools.timey.event.TimeyEventDispatcher" scope="singleton">
	</bean>

	<!-- Konzept - Quelle: https://github.com/nydi/spring-practice -->
	<!-- AOP config -->
	<aop:aspectj-autoproxy proxy-target-class="true" />

	<!-- declarative chained interceptor -->
	<bean id="debugInterceptorWithComposite" class="ch.nydi.aop.interceptor.CompositeInterceptor">
		<property name="interceptors">
			<list>
				<bean class="ch.nydi.aop.interceptor.TraceInterceptor" />
				<bean class="ch.nydi.aop.interceptor.TimerInterceptor" />
			</list>
		</property>
	</bean>

	<!-- dynamic chained interceptor -->
	<bean id="debugInterceptor" class="ch.nydi.aop.interceptor.DebugInterceptor" />

	<aop:config proxy-target-class="true">
		<!-- comment one of the advisor configuration -->
		<!-- <aop:advisor advice-ref="debugInterceptor" -->
		<!-- pointcut="execution(public * rmblworx.tools.timey.*.*(..))" order="1" 
			/> -->
		<aop:pointcut id="runnablesFiltered"
			expression="within(rmblworx.tools.timey..*) and !bean(alarmRunnable) and !bean(timerRunnable) and !bean(countdownRunnable)" />
		<aop:pointcut id="unfiltered"
			expression="execution(public * rmblworx.tools.timey.*.*.*(..))" />

		<!-- Achtung im folgenden advisor wird der Pointcut zum herausfiltern aller 
			Methodenaufrufe innerhalb der AlarmRunnable, TimerRunnable und CountdownRunnable 
			Implementierungen adressiert!!! Wird fuer die Fehlersuche die Logausgabe 
			benoetigt so ist die darunter stehende, auskommentierte Pointcut-Referenz 
			zu aktivieren -->
		<aop:advisor advice-ref="debugInterceptorWithComposite"
			pointcut-ref="runnablesFiltered" />
		<!-- pointcut-ref="unfiltered"/> -->
	</aop:config>
</beans>
