/* einheitliche Schrift auf allen Systemen */
.root {
	-fx-font-family: "Helvetica, Arial, sans-serif";
	-fx-font-size: 8pt;
}

/* größere Schrift für Zeit in Stoppuhr und Countdown */
#stopwatchTimeLabel,
#countdownTimeLabel,
#countdownTimePicker {
	-fx-font-size: 30px;
}

/* kein Gitternetz für leere Zellen */
.table-row-cell:empty {
	-fx-background-color: transparent;
}
.table-row-cell:empty .table-cell {
	-fx-border-width: 0;
}

/* kein blauer Rahmen für fokussierte Tabelle */
.table-view:focused {
	-fx-background-color: transparent, -fx-box-border, -fx-control-inner-background;
}

/* inaktive Alarme in Tabelle einfärben */
.table-view .table-row-cell.alarm-disabled .table-cell {
	-fx-text-fill: gray;
}
.table-view .table-row-cell.alarm-disabled:focused .table-cell {
	-fx-background-color: red;
	-fx-text-fill: -fx-selection-bar-text;
}

/* vertikalen Scrollbalken in Alarm-Tabelle vermeiden (Quelle: https://community.oracle.com/message/10977604#10977604) */
.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
	-fx-background-color: null;
	-fx-background-radius: 0;
	-fx-background-insets: 0;
	-fx-padding: 0;
}
.table-view *.scroll-bar:horizontal *.increment-arrow, 
.table-view *.scroll-bar:horizontal *.decrement-arrow {
	-fx-background-color: null;
	-fx-background-radius: 0;
	-fx-background-insets: 0;
	-fx-padding: 0;
	-fx-shape: null;
}

/* Symbol für Sound-Abspiel-Schaltfläche */
.button.play-sound {
	-fx-background-image: url('img/sound.png');
	-fx-background-size: 16px 16px;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center center;
}

/* Symbol für Sound-Löschen-Schaltfläche */
.button.no-sound {
	-fx-background-image: url('img/sound_mute.png');
	-fx-background-size: 16px 16px;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center center;
}
